
/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

* { margin: 0; padding: 0; outline: none; }


body {
    margin: 0;
    padding: 0;
    background: #fff;
    /*    background: #E5E6DD;*/
    /*    background: #FAFAFA;*/
    font-family: 'Oxygen', sans-serif;
    font-size: 13px;
    color: #8A8985;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
    text-transform: fullsize-kana;
    font-weight: 300;
    color: #7D7764;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 2.8em;
}

h3 {
    /*    color: #7FA1FE;*/
    color: #424242;
    font-size: 16px; 
    font-weight: 600;
    /*    margin-top: 10px;
        margin-left: 10px;
        margin-bottom: 10px;*/
}

h3:hover{
    /*    font-weight: 600;*/
    cursor: pointer;
    /*    color: #5882FA;*/
    color: #000;
    /*    -webkit-transition: all 0.5s ease;*/
    text-decoration: underline; 
}

/*p, ul, ol {
    margin-top: 0;
    line-height: 180%;
}*/

/*p {
    color: #707070;  
    margin-top: 2px;
    padding: 0px 20px 0px 0px;
    margin-left: 10px;
    line-height: 18px;
    text-align: justify;
    font-size: 12px;
    border: #DE5635 solid 1px;
}*/

.description {
    /*    color: #585858;  */
    /*    color: #000;*/
    margin-left: 10px;  
    line-height: 15px;
    text-align: justify;
    font-size: 12px;    
}

.from{
    /*    float: left;*/
    margin-top: -10px;
    line-height: 15px;
    font-size: 10px;
    color: #B9B9B9;
    /*    border: #DE5635 solid 1px;*/
}

.from a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.tagme{
    /*    line-height: 8px;*/         
    font-size: 13px; 
    color: #58ACFA; 
    float: left; 
    width: 80px;     
    /*    font-weight: 700;*/

}
.tagme:hover{
    text-decoration: underline;
    cursor: pointer;     
}

.shareme{
    /*    line-height: 8px;*/         
    font-size: 13px; 
    color: #58ACFA; 
    float: left; 
    width: 80px;     
    /*    font-weight: 700;*/

}
.shareme:hover{
    text-decoration: underline;
    cursor: pointer;     
}
.useful{
    /*    line-height: 8px;*/         
    font-size: 13px; 
    color: #58ACFA; 
    float: left; 
    width: 80px;     
    /*    font-weight: 700;*/

}
.useful:hover{
    text-decoration: underline;
    cursor: pointer;     
}

ul, ol {
}

a {
    text-decoration: none;    
    color: #58ACFA;    
}

.source {
    text-decoration: none;
/*    font-weight: 600;*/
    /*    color: #53957B;    */
/*    color: #58ACFA;*/
}

a:hover {

}

#follow { 
    float: right;
}

/*.scroll-pane {
    width: 100%;
    height: 200px;
    overflow: auto;
    border: 1px #707070 solid;
}*/

#inline { 
    display: none; 
    width: 900px; 
    height: 550px;

} /*esta línea oculta el form que quiero desplegar como popup*/

#user-session-pin-popup { 
    display: none; 
    width: 400px; 
    height: 200px;

} /*esta línea oculta el form que quiero desplegar como popup*/

/**/
.comodin {
    display: none;      
    width: 580px;
    border-top-style: ridge;
    border-top-width: thin;
    padding-top: 14px;
    background: #FAFAFA;
/*    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;*/
    /*    border: 1px #707070 solid;*/
/*    border-bottom: #D8D8D8 solid 1px;*/

}

/**/
.tagging-submit { 
    /*    margin: 5px 30px 0px 90px;
    */            
    /*    border: #53957B solid 1px;*/
    height: 95px;
    width: 430px;
}
.textarea-tagging {
    border-radius: 4px; 
    border-color: #D8D8D8;    
}

.textarea-tagging:hover{      
    border: 1px solid #58ACFA;   
}


/*Lista Horizontal*/

#horizontal-list nav {
    margin: 0px 0px 0px 90px;
    /*    border: #000000 solid;*/
    width: 280px; 
}

#horizontal-list ul {
    overflow: auto;
    list-style-type: none;
}

#horizontal-list li {
    height: 22px;
    float: left;
    margin: 10px 0px 0px 0px;    
    border-right: 1px solid #aaa;
    padding: 5px 27px;
    /*    border: #5BA689 solid;*/
}

#horizontal-list li:last-child {
    border-right: none;
}

#horizontal-list li a {
    text-decoration: none;
    color: #ccc;    
    text-transform: none;
    -webkit-transition: all 0.5s ease;
}

#horizontal-list li a:hover {
    color: #666;        
}

#horizontal-list li.active a {
    font-weight: bold;
    color: #333;
}

/* Lista Vertical*/

#resources-list * {
    margin: 0; padding: 0;
    /*    border: #5D781D solid;*/
}

#resources-list div {
    /*    margin: 20px 0px 5px 90px;*/
    margin: 10px 0px 0px 0px;
}

#resources-list div .tagging-submit{
    /*    margin: 20px 0px 5px 90px;*/
    margin: 10px 0px 0px 90px;    
    /*    background: #B9B9B9*/
}

#resources-list ul {
    list-style-type: none;
    width: 600px;    
    margin-left: 17px;

}

#resources-list .image-resource{
    float: left;   
    margin: 0 10px 0 0;
/*    border-radius: 4px;*/
}

#resources-list .view-resource{
    float: right;   
    margin: 25px 17px 10px 28px;
    opacity: 0.5;
}

#resources-list .view-resource:hover{
    /*    float: right;   
        margin: 17px 17px 10px 45px;*/

    /*    -webkit-appearance: push-button;*/
    /*    -webkit-appearance: checkbox;*/
    opacity: 1;

}

#resources-list li {
    padding: 0px 10px 10px 10px;
    /*    border-bottom-style: groove;
        border-bottom-width: thin;
        border-bottom-color: #F4F4F4;*/
    border-bottom: #ffffff solid 1px;
    border-top: #ffffff solid 1px;

    overflow: auto;
}

#resources-list li:hover {
    background: #FAFAFA;
    cursor: pointer;
/*    border-bottom: #D8D8D8 solid 1px;*/
    border-top: #D8D8D8 solid 1px;
}

/*.resource-information {
    height: 85px;
            border: #58ACFA solid 1px;
        line-height: -5px;
}*/

/*---------------------------------------*/

#wrapper {
    overflow: hidden;
    background: #F1F2E9;
}

.container {
    width: 1280px;
    margin: 0px auto;
    /*    border: #5882FA solid;*/


}

/* Header */

#header-wrapper {
    overflow: hidden;
    height: 400px;
}

#top {
    width: 960px;
    height: 200px;
    margin: 0 auto;
    padding: 0px 20px;
}

/* Banner */

#banner {
    overflow: hidden;
    height: 400px;
    background: url(images/img04.jpg) no-repeat center bottom;
}

#banner .image-style {
    border: 15px solid #F4F4F4;
}

/* Logo */

#user-session-pin{
    overflow: hidden;
    height: 100px;
    width: 30%;
    border: #58ACFA solid 1px;
    margin: 100px 50px -250px 0px;
    text-align: center;
}

#logo {
    overflow: hidden;
    height: 170px;
    width: 800px;
/*    border: #58ACFA solid 1px;*/
    margin: 400px 50px 50px 0px;
}

/*#logo h1, #logo p {
    text-align: center;
}*/

/*#logo h1 {
    padding: 170px 10px 0px 0px;
    letter-spacing: -6px;
    text-transform: none;
    font-size: 100px;
}*/

#logo p {
    margin-top: 5px;
    padding: 0px 0px 0px 0px;
    font-size: 20px;
    font-weight: 300;
    color: #696969;
}

#logo p a {
    color: #696969;
}

#logo a {
    border: none;
    background: none;
    text-decoration: none;
    color: #3C342E;
}

/* Splash */

#splash {
    overflow: hidden;
    padding: 0px 0px 50px 0px;
    border-bottom: 1px dashed #E7E2DC;
    letter-spacing: -3px;
    text-align: center;
    font-size: 48px;
}

#splash span {
    color: #313131;
}

/* Search */

#search {
    float: right;
    width: 280px;
    height: 60px;
    padding: 20px 0px 0px 0px;
}

#search form {
    height: 41px;
    margin: 0;
    padding: 10px 0 0 20px;
}

#search fieldset {
    margin: 0;
    padding: 0;
    border: none;
}

#search-text {
    width: 170px;
    padding: 6px 5px 2px 5px;
    border: 1px solid #DEDEDE;
    background: #FFFFFF;
    text-transform: lowercase;
    font: normal 11px Arial, Helvetica, sans-serif;
    color: #5D781D;
}

#search-submit {
    width: 50px;
    height: 22px;
    border: none;
    background: #B9B9B9;
    color: #000000;
}

/* Menu */

#menu-wrapper {
    overflow: hidden;
    height: 40px;
    margin-bottom: 2em;
    background: #000000;
    /*    background: url('images/wallpaper.jpg') no-repeat;*/
    background-size: 1200px 40px;
}

#menu {
    overflow: hidden;
    height: 40px;
}

#menu ul {
    margin: 0;
    padding: 0px 0px 0px 0px;
    list-style: none;
    line-height: normal;
    text-align: center;
}

#menu li {
    display: inline-block;
    width: 130px;
}

#menu a {
    display: block;
    line-height: 45px;
    border: none;
    text-decoration: none;	
    text-align: center;
    text-transform: none;
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #7D7764;
}

#menu a:hover, #menu .current_page_item a {
    background: #282828 ;
    text-decoration: none;
    /*    text-shadow: 1px 1px 0px #B9B9B9;*/
    color: #FFFFFF;
}

#mene a img {
    margin-right: 3px;
}

#menu .current_page_item a {
}

/* Page */

#page {
    overflow: hidden;
    padding: 20px 20px 40px 20px;
}

/* Content */

#content {
    float: left;
    width: 752px;
    padding: 0px 0px 0px 0px;
}

.post {
    overflow: hidden;
}

.post .title {
    margin: 0px 0px 30px 0px;
    padding: 0px 0px 10px 0px;
    border-bottom: 3px solid #E0E1D6;
    text-shadow: 1px 1px 0px #FFFFFF;
    font-size: 26px;
    color: #373737;
}

.post .title a {
    border: none;
    color: #373737;
}

.post .meta {
    margin-bottom: 30px;
    padding: 0px;
    text-align: left;
    font-size: 16px;
}

.post .meta .date {
    float: left;
}

.post .meta .posted {
    float: right;
}

.post .meta a {
}

.post .entry {
    padding: 0px 0px 20px 0px;
    padding-bottom: 20px;
    text-align: justify;
}

.links {
    padding-top: 20px;
    margin-bottom: 30px;
}

/*#footer p .links {
        padding-top: 20px;
        margin-bottom: 30px;
        color: #5BA689
}*/

.more {
    display: block;
    float: left;
    width: 88px;
    height: 25px;
    padding: 2px 0px 0px 0px;
    margin-right: 10px;
    background: url(images/img08.jpg) no-repeat left top;
    text-align: center;
    color: #FFFFFF;
}

.comments {
    display: block;
    float: left;
    width: 88px;
    height: 25px;
    padding: 2px 0px 0px 0px;
    background: url(images/img08.jpg) no-repeat left top;
    text-align: center;
    color: #FFFFFF;
}

/* Sidebar */

#sidebar {
    float: right;
    width: 384px;
    margin: 0px;
    padding: 0px 0px 0px 0px;
    color: #787878;
}

#sidebar h2 {
    margin: 0px 0px 30px 0px;
    padding: 0px 0px 10px 0px;
    border-bottom: 3px solid #E0E1D6;
    text-shadow: 1px 1px 0px #FFFFFF;
    font-size: 26px;
    color: #373737;
}

#sidebar a {
    border: none;
}

#sidebar a:hover {
    text-decoration: underline;
}

/* Calendar */

#calendar {
}

#calendar_wrap {
    padding: 20px;
}

#calendar table {
    width: 100%;
}

#calendar tbody td {
    text-align: center;
}

#calendar #next {
    text-align: right;
}

/* Three Column Footer Content */

#footer-bg {
    overflow: hidden;
    padding: 70px 0px;
    background: #3C342E;
    border-top: 10px solid #E5E6DD;
}

#footer-content {
}

#footer-content h2 {
    margin: 0px 0px 20px 0px;
    padding: 0px 0px 10px 0px;
    border-bottom: 2px solid #DE5635;
    font-size: 22px;
    color: #FFFFFF;
}

#column1 {
    float: left;
    width: 384px;
    margin-right: 20px;
}

#column2 {
    float: left;
    width: 384px;
}

#column3 {
    float: right;
    width: 384px;
}

/* Footer */

#footer {
    height: 45px;
    margin: 0 auto;
    padding: 10px 0px 0px 0px;
}

#footer p {
    margin: 0;
    padding-top: 10px;
    line-height: normal;
    text-align: center;
    text-shadow: 1px 1px 0px #FFFFFF;
    color: #909090;
}

#footer a {
    /*	text-decoration: underline;
            color: #909090;*/
}

#footer a:hover {
    /*	text-decoration: none;
            color: #383838;*/
}

.box1 {
    overflow: hidden;
    height: 300px;
    background: url(images/img04.jpg) no-repeat center bottom;
}

.list-style1 {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.list-style1 li {
    padding: 7px 0px 7px 0px;
    border-top: 1px dashed #E7E2DC;
}

.list-style1 .first {
    padding-top: 0px;
    border-top: none;
}

.list-style2 {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.list-style2 li {
    padding: 7px 0px 7px 0px;
}

.list-style2 a {
    color: #8A8985;
}

.list-style2 a:hover {
    text-decoration: underline;
}

.list-style2 .first {
    padding-top: 0px;
    border-top: none;
    background: none;
}

/* Banner */

#banner {
    overflow: hidden;
    height: 450px;
    background: url(images/img04.png) no-repeat center bottom;
}

/*Una columna para la parte de presentación de recursos a etiquetar*/
#two-column {
    overflow: hidden;
    padding: 0px 0px 50px 0px;
    /*            border: #000000 solid;*/

}
#two-column .tbox1 {
    float: left;    
    width: 181px;
    height: 300px;
    margin-left: 47px;

    /*    margin-right: 10px;*/
    /*                    border: #5BA689 solid 1px;*/
    /*background: #E8E8E8; /*el color de este elemento será inperceptible ya que tiene el mismo valor del body*/    
    /*    text-align: center;*/
}

#two-column .tbox2 {
    float: left;  
    width: 645px;
    /*    margin-right: 329px;*/
    padding-bottom: 2px;
    /*
margin-left: 0px;*/    
    /*                border: #5BA689 solid;*/

}

#two-column .tbox3 {
    float: right;    
    width: 320px;
    margin-left: 10px;
    margin-right: 75px;

    /*    margin-right: 10px;*/
    /*                    border: #5BA689 solid 1px;*/
    /*background: #E8E8E8; /*el color de este elemento será inperceptible ya que tiene el mismo valor del body*/    
    /*    text-align: center;*/
}

/* Three Column Content */

#three-column {
    overflow: hidden;
    padding: 30px 10px 0px 10px;
    /*    border: #000000 solid;*/

}

#three-column .tbox1 {
    float: left;
    width: 384px;
    margin-right: 20px;
    /*    border: #000000 solid;*/
}


#three-column .tbox2 {
    float: left;
    width: 384px;
}

#three-column .tbox3 {
    float: right;
    width: 384px;
}

.box-style {
    background: #FFFFFF;
    text-align: center;
}

.box-style1 {
    background: #FFFFFF;
    text-align: center;
    height: 300px;
    /*    border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;*/
    /*    border-radius: 10px;*/
    /*    border: #DE5635 solid 1px;*/
}

.box-style3 {
    background: #FAFAFA;
    text-align: justify;
    width: 320px;
    float: right;
    /*    border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;*/
    /*    border-radius: 10px;*/
}

.box-style01
{
}


.box-style02
{
}

.box-style03
{
}


.box-style h2 {
    padding: 10px 0px;
    letter-spacing: -1px;
    font-size: 22px;
    color: #2D2D2D;
}

.box-style1 h2 {
    padding: 10px 0px;
    letter-spacing: -1px;
    font-size: 20px;
    color: #2D2D2D;
}

.image {
    /*    width: 324px;*/
    /*    alignment-adjust: central;*/
    margin-top: 40px;
    /*    border-radius: 10px;*/
}

.tbox3 .image {
    /*    width: 324px;*/
    /*    alignment-adjust: central;*/
    margin-top: 15px;
    /*        border-radius: 10px;*/
}

.box-style .arrow {
}

.box-style .content {
    overflow: hidden;
    width: 200px;
    padding: 30px;
}

.box-style1 .content {
    overflow: hidden;
    width: 160px;
    padding: 10px; 
    /*    border-right-style: ridge;
        border-right-width: thin;
        border-right-color: #B9B9B9; */

    /*        border: #000000 solid 1px;*/
}

.box-style2 .content {
    background: #FFFFFF;    
    overflow: hidden;    
    width: 645px;
    padding: 0px 0px 40px 0px;  
    border-left: #D8D8D8 solid 1px;
    /*    border-top-right-radius: 10px;*/
    /*    border-radius: 0px 10px 10px 10px;*/
    /*    margin-bottom: -20px;*/
    /*    border: #DE5635 solid;    */
}

.box-style3 .content {
    overflow: hidden;
    width: 320px;
    padding: 0px; 
    /*    border-right-style: ridge;
        border-right-width: thin;
        border-right-color: #B9B9B9; */

    /*                border: #000000 solid 1px;*/
}

.divider {
    overflow: hidden;
    height: 50px;
    background: url(images/img04.png) no-repeat center top;
}

.button
{
    display: inline-block;
    margin: 1em 0em;
    background: #1C1C1C;
    padding: 1em 2em;
    font-family: 'Oxygen', sans-serif;
    color: #909090;

}
